{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
	<p> Vous allez participer à une expérience dans laquelle vous allez pouvoir gagner de l'argent.
	Le montant de vos gains dépendra des choix que vous effectuerez.</p>

	<p> Avant que l'expérience ne débute, nous vous prions de bien vouloir compléter ce formulaire. 
	Afin de préserver votre vie privée, ces informations ne seront pas associées à votre nom ou une variable permettant de vous identifier</p>

	{% formfields %}

	{% next_button %}

{% endblock %}
