{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
	<p>You are involved in an experiment in which you can earn money. The amount you will earn will depend only on your own decisions. 
	Before starting the experiment, we will ask you to answer a few questions aimed at knowing you better (your age, your gender, your work occupation, ...). 
	All those informations will be kept anonymous and confidential.</p>

	{% formfields %}

	{% next_button %}

{% endblock %}
