{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
	<p>
	Vous allez participer à une expérience dans laquelle vous allez pouvoir gagner de l'argent.
	Le montant de vos gains dépendra des choix que vous effectuerez. 
	Avant que l'expérience ne débute, je vous prie de compléter ce formulaire. 
	Ces informations ne seront pas associées à votre nom ou une variable permettant de vous identifier, 
	afin de préserver votre confidentialité.</p>

	{% formfields %}

	{% next_button %}

{% endblock %}
